body {
    background-color: lightblue;
}

div {
    background-color: lightcoral;
}

img {
    border: 1px solid blue;
}
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }